.form{
  margin-left: 20%;
  width: 60%;
  text-align: center;
}
.ant-input-number{
  width: 100% !important;
}
.tips{
  margin-left: 3px;
}

.spin{
  margin-left: 43%;
  height: 30px;
  margin-top: 30px;
}

.buttons{
  text-align: center;
  float: left;
  margin-left: 32.5%;
}

.button{
  margin-right: 5px;
}
.divider{
  margin-left: -10%;
}
.checkbox{
  margin-left: -20%;
  margin-bottom: 24px;
}

.table{
  clear: left;
}
